{% extends '../base.html' %}

{% block content %}

<div class="topic-index-main">
    <div class="delete-page-container">
        <div class="headline">
            <span>Are you sure you want to delete {{ object.title }}</span>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes - Delete!" class="btn">
        </form>
        <a class="btn" href="{% url 'post_detail' object.topic.id object.id %}">Cancel</a>
    </div>
</div>
    
{% endblock %}