{% extends 'base.html' %}

{% block content %}

<div class="topic-index-main">
  <div class="form-page-container">
    <div class="headline">
      {% if object %}
        <a class="btn" href="{% url 'topics_index' %}"><i class="fas fa-angle-double-left"></i></a>
        <span class="form-page-title">Edit {{object.title}}</span>
      {% else %}
        <a class="btn" href="{% url 'topics_index' %}"><i class="fas fa-angle-double-left"></i></a>
        <span class="form-page-title">Add Post</span>
      {% endif %}
    </div>
    <form action="" method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <hr>
      <input type="submit" value="Submit!" class="btn">
    </form>
  </div>
</div>
  
{% endblock %}
