{% extends 'base.html' %}

{% block content %}


<div class="row">
    
    
    <div class="col s6">
        <div class="">
              <div class="">
                <h3>{{ topic.title }}</h3>
              </div>
              <div>
                  <p>{{ topic.description }}</p>
              </div>
              <div>
                <div>

                  <form action="{% url 'add_post' topic.id %}" method="POST">
                    {% csrf_token %}
                    {{ post_form.as_p }}
                    <input type="submit" class="btn" value="Add Post">
  
                  </form>
                </div>
              <div>
                <table>
                  <thead><th><tr><th>Title</th></tr></thead>
                  <tbody>
                    {% for post in topic.post_set.all %}
                      <tr><td>{{ post.title }}</td></tr>
                    
                    {% endfor %}

                  </tbody>
                </table>

              </div>

              </div>
              
        </div>
        
        
    </div>
    <div class="col s3">
        <!-- <h3>Bookmark:</h3>
        <h3>Tags</h3>
        <div>
            {% for tag in tags %}
                    <p>{{ tag.title }}</p>
                
            {% endfor %}
        </div> -->
        
    </div>
</div>



<div class="">
  <a href="{% url 'topic_update' topic.id %}">Edit</a>
  <a href="{% url 'topic_delete' topic.id %}">Delete</a>
</div>

{% endblock %}