{% extends 'base.html' %}

{% block content%}


<div class="headline">
    <a class="btn" href="{% url 'topics_detail' topic.id %}">Back To Topic</a>
    <h1>{{post.title}}</h1>
    <div class="headline-links">
        <a class="btn" href="{% url 'post_update' topic.id post.id %}">Edit</a>
        <a class="btn" href="{% url 'post_delete' topic.id post.id %}">Delete</a>
    </div>
</div>
<p>{{post.description}}</p>
<div>
    <div class="form-container">
        <form action="{% url 'add_comment' topic.id post.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" class="btn" value="Add Comment">
        </form>
    </div>
    <div class="page-content">
        {% for comment in post.comment_set.all %}
            <div class="card">
                <div class=" card-content">
                    <p>{{ comment.text }}</p>
                </div>
                <div class="card-action link-container">
                    <a style="color: #f77f00;" href="{% url 'comment_update' topic.id post.id comment.id %}">Edit</a>
                    <a style="color: #f77f00;" href="{% url 'comment_delete' topic.id post.id comment.id %}">Delete</a>
                </div>
            </div>
            {% endfor %}

    </div>
    <div>
    <div>
</div>

{% endblock %}

