{% extends 'base.html' %}

{% block content%}

<h1>{{post.title}}</h1>
<p>{{post.description}} </p>

<div>
    <a href="{% url 'post_update' topic.id post.id %}">Edit</a>
    <a href="{% url 'post_delete' topic.id post.id %}">Delete</a>
</div>
<div>
    <div>
        <form action="{% url 'add_comment' topic.id post.id %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" class="btn" value="Add Comment">
        </form>
    </div>
    <div class="page-content">
        {% for comment in post.comment_set.all %}
            <div class="card">
                <div class=" card-content">
                    <p>{{ comment.text }}</p>
                </div>
                <div class="card-action link-container">
                    <a href="{% url 'comment_update' topic.id post.id comment.id %}">Edit</a>
                    <a href="{% url 'comment_delete' topic.id post.id comment.id %}">Delete</a>
                </div>
            </div>
            {% endfor %}

    </div>
    <div>
    <div>
</div>

{% endblock %}

