{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>SideBar</title>
</head>
<body> 
    <header class="navbar-fixed">
        <nav>        
            <div class="nav-wrapper">
                <ul>
                    <li><a href="{% url 'topics_index' %}" class="left brand-logo">SideBar</a></li>
                </ul>
                <ul class="right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer center">
        <div>All Rights Reserved, &copy; <span id="year"></span> Project Django</div> 
    </footer>
    <script>
        const spanEl = document.getElementById('year');
        spanEl.innerText = new Date().getFullYear();
    </script>
</body>
</html>