{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>SideBar</title>
</head>
<body class="base-body"> 
    <header>
        <nav class="side-navbar">        
            <div class="">
                <div class="logo-box">
                    <ul>
                        <li><a href="{% url 'topics_index' %}" class="logo">SideBar</a></li>
                    </ul>
                </div>
                <div class="rule"></div>
                <div class="bookmarks-list">
                    <span>BOOKMARK HERE</span>
                    <span>BOOKMARK HERE</span>
                    <span>BOOKMARK HERE</span>
                    <span>BOOKMARK HERE</span>
                    <span>BOOKMARK HERE</span>
                    <span>BOOKMARK HERE</span>
                    <span>BOOKMARK HERE</span>
                    <span>BOOKMARK HERE</span>
                </div>
                <div class="rule"></div>
                <ul class="">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'dashboard_index' %}">Dashboard</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="base-main">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer center">
        <div>All Rights Reserved, &copy; <span id="year"></span> Project Django</div> 
    </footer>
    <script>
        const spanEl = document.getElementById('year');
        spanEl.innerText = new Date().getFullYear();
    </script>
</body>
</html>