{% load static %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/7c7f4aabd8.js" crossorigin="anonymous"></script>
    <title>SideBar</title>
</head>
<body class="base-body"> 
    <header>
        <nav class="side-navbar">        
            <div class="navbar-content">
                <div class="logo-box">
                    <ul>
                        <li><a href="{% url 'topics_index' %}" class="logo">SideBar</a></li>
                    </ul>
                </div>
                <div class="rule"></div>
                <div class="bookmarks-list">
                    {% for bookmark in user.account.bookmarks.all  %}
                        <a href="{% url 'topics_detail' bookmark.id %}"><li><i class="fas fa-bookmark"></i>{{ bookmark.title }}</li></a>
                    {% endfor %}
                </div>
                <div class="rule"></div>
                <div class="dashboard-link-container">
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'dashboard_index' %}">Dashboard</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                        {% endif %}
                    </ul>
                </div>
                <footer class="base-footer">
                    <div>&copy; <span id="year"></span> SideBar</div> 
                </footer>
            </div>
        </nav>
    </header>
    <main class="base-main">
        {% block content %}
        {% endblock %}
    </main>
    <script>
        const spanEl = document.getElementById('year');
        spanEl.innerText = new Date().getFullYear();
    </script>
</body>
</html>