:root {
    --main-background-color: #3399ff;
    --alt-background-color: rgba(43, 43, 43, 0.801);
    --accent-alt-background-color: rgb(128, 128, 128);
    --test-color-1: #1d3557;
    --test-color-2: #fff8f8;
    --test-color-3: #457b9d;
    --test-color-4: #e63946;
    --test-color-5: #1d3557;
    --shadow: rgba(63, 63, 63, 0.356);
}

* {
    box-sizing: border-box;
}

main {
    flex-grow: 1;
}

/* Splash Screen */

.splash-body {
    background: var(--test-color-4);
}

.ripple-background {
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 45s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
    width: 300px;
    height: 300px;
}

.medium{
    width: 400px;
    height: 400px;
}

.large{
    width: 600px;
    height: 600px;
}

.xlarge{
    width: 800px;
    height: 800px;
}

.xxlarge{
    width: 1000px;
    height: 1000px;
}

.shade1{
    opacity: 0.2;
}
.shade2{
    opacity: 0.5;
}

.shade3{
    opacity: 0.7;
}

.shade4{
    opacity: 0.8;
}

.shade5{
    opacity: 0.9;
}

@keyframes ripple{
0%{
    transform: scale(0.8);
}

50%{
    transform: scale(1.2);
}

100%{
    transform: scale(0.8);
}
}

.splash-main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.splash-footer{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    width: 100vw;
}

.splash-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: max-content;
}

.splash-card-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-signup-buttons {
    display: flex;
    flex-direction: row;
    min-height: fit-content;
}

.login-signup-buttons > li {
    margin: 15px;
    background-color: white;
    min-width: fit-content;
}

.login-signup-buttons > li:hover {
    background-color: white;
}

.login-signup-buttons > li > a {
    background-color: white;
    width: fit-content;
    color: rgb(100, 100, 100);
}

.splash-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* Base HTML */

.base-body{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--test-color-2);
}

.base-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: 218px;
    flex-grow: unset;
    padding-bottom: 10px;
    height: 100vh;
    overflow: hidden;
    background-color: var(--test-color-2);
}

.base-main::-webkit-scrollbar {
    display: none;
}

.side-navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 219px;
    height: 100vh;
    background-color: var(--test-color-4);
    box-shadow: .25px 0 9px 1px var(--shadow);
}

.navbar-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rule {
    background-color: var(--test-color-2);
    width: auto;
    margin: 0 25px 0 25px;
    height: 1.5px;
    box-shadow: 1px 3px 5px var(--shadow);
}

.bookmarks-list {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    margin: 10px 0 10px 0;
    padding-top: 20px;
    height: 90vh;
    overflow: scroll;
    background-color: var(--test-color-2);
    box-shadow: inset 0px 4px 7px 0px var(--shadow), inset 0px -4px 7px 0px var(--shadow);
    color: black;
}

.bookmarks-list > a:link {
    color: black;
    text-decoration: none;
}
.bookmarks-list > a:visited {
    color: black;
    text-decoration: none;
}
.bookmarks-list > a:hover {
    color: black;
    text-decoration: none;
}
.bookmarks-list > a:active {
    color: black;
    text-decoration: none;
}

.bookmarks-list::-webkit-scrollbar {
    display: none;
}

.bookmarks-list > a {
    line-height: 1;
    text-align: left;
    list-style: none;
    vertical-align: middle;
}

.bookmarks-list > li {
    vertical-align: middle;
}

.bookmarks-list > a > li > i {
    margin-right: 10px;
    padding-top: 15px;
    color: var(--test-color-4);
}

.dashboard-link-container {
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.base-footer {
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    font-size: 70%;
    line-height: 2;
    align-items: center;
    justify-content: center;
    /* background-color: var(--test-color-2); */
    /* box-shadow: inset 4px 5px 2px rgba(100, 100, 100, 0.486); */
}
 

/* Index Views */

.headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 10px;
    height: 74px;
    width: 100%;
    box-shadow: 0px 4px 2px -2px var(--shadow);
    padding-left: 20px;
    z-index: 1;
}

.side-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 10px;
    height: 74px;
}

.search-bar {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-bar > button {
    margin-left: 25px;
}

.headline > a {
    margin-right: 15px;
}

.card {
    border-radius: 3px;
    margin-bottom: 25px;
    border: 2px solid var(--test-color-4);
    overflow-wrap: break-word;
}

.card-link {
    color: unset;
}

.description {
    overflow-wrap: break-word;
    padding-left: 55px;
    padding-right: 55px;
    color: var(--accent-alt-background-color);
    font-style: italic;
}

.btn {
    background-color: var(--test-color-4);
}

.btn:hover {
    background-color: var(--test-color-4);
}

.link-container > a {
    color: var(--test-color-1);
}

.form-container {
    margin-bottom: 25px;
}

.title {
    font-size: 2rem;
    font-weight: 700;
}

.title-headline {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.created-by {
    color: rgb(128, 128, 128);
    font-style: italic;
    font-size: small;
}

.prefix {
    color: var(--test-color-4);
    font-style: italic;
    font-size: large;
}

.card-rule {
    height: 2px;
    width: 100%;
    background-color: var(--test-color-4);
    margin-bottom: 15px;
}

.title-divider {
    margin-left: 15px;
    margin-right: 15px;
}

.topic-index-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.list-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 75%;
    margin-right: 15px;
}

.list {
    overflow: scroll;
    width: 100%;
    padding-left: 30px;
    padding-top: 15px;
}

.list::-webkit-scrollbar {
    visibility: hidden;
}

.topic-side-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: 100%;
    margin-top: 20px;
    margin-right: 20px;
    padding-bottom: 40px;
}


.new-posts {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid var(--test-color-1);
    background-color: white;
    border-radius: 3px;
}

/* -------------------------------------------- TOPIC DETAIL -------------------------------------------- */

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.detail-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}

.detail-headline-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    height: fit-content;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}

.detail-headline > a {
    margin-right: 15px;
}

.description-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-wrap: break-word;
    justify-content: space-between;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border: 3px solid var(--test-color-4);
    border-radius: 3px;
}

.detail-description {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    width: 60%;
}

.description-container > img {
    max-width: 30%;
    margin-right: 15px;
}

.user-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-left: 15px;
}

.user-options > a {
    width: 50px;
    margin-bottom: 10px;
}

.headline-rule {
    width: 110%;
    height: 3px;
    margin-top: 15px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 5%, var(--test-color-4) 20% 80%, rgba(255, 255, 255, 0) 95%);
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.splash-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 90%;
}

.votes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-right: 5px;
}

.votes > span {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-form-container {
    width: 90%;
}

.info-line {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.tag-form-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.tag-form-inline > button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10px;
    flex-wrap: nowrap;
    padding-left: 10px;
    padding-right: 10px;
}

#plus-icon {
    font-size: 10px;
    margin-right: 1px;
}

#tag-icon {
    font-size: 13px;
}

.tag-title {
    font-size: 27px;
}

.tag-title > i {
    color: var(--test-color-4);
}

.tag-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    max-width: 210px;
    background-color: white;
    border: 2px solid var(--test-color-1);
    border-radius: 3px;
    box-shadow: 0px 1px 5px 1px var(--shadow);
    margin-top: 15px;
}

.side-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100%;
    margin-top: 20px;
    margin-right: 20px;
    padding-bottom: 40px;
}

.headline-votes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headline-votes-container > span {
    padding: 10px;
}

.comment-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-bottom: 10px;
}

.comment-options > a {
    padding-left: 10px;
    color: var(--accent-alt-background-color);
}

.like-btn {
    background: none;
    border: none;
    color: var(--test-color-4);
    cursor: pointer;
}

.like-btn:focus {
    background: none;
}

.comment-side-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    height: 100%;
    margin-top: 20px;
    margin-right: 20px;
    padding-bottom: 40px;
}

.comment-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    z-index: 1;
}

.comment-form-container > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    padding-bottom: 20px;
}

.comment-form-container > form > input {
    width: 80%;
}

.comment-form-container > form > p {
    width: 100%;
}

.comment-form-container > form > p > label {
    visibility: hidden;
}

.tag-form-inline > p > label {
    visibility: hidden;
}

.form-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-right: 15px;
}

.form-page-container > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-self: center;
}

.delete-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-right: 15px;
}

.delete-page-container > form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-self: center;
    margin: 30px;
}

.form-page-title {
    position: absolute;
    left: 60%;
}

.form-cancel {
    width: 60px;
}