{% extends 'base.html' %}
{% block content %}

<h1>Account Detail</h1>

<div class="card">
    <div class="card-content">
        <h1>{{ user.account.first_name }}</h1>
        <h3>{{ user.account.bio }}</h3>
        <div class="card-action link-container">
            <a style="color: #f77f00;" href="{% url 'account_update' user.account.user_id %}">Edit</a>
            <a style="color: #f77f00;" href="{% url 'account_delete' user.account.user_id %}">Delete</a>
        </div>
    </div>
</div>

{% endblock  %}